<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASR Financial Services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ==" crossorigin="anonymous" />
    <style>
        body{
            background: url('img/bg.jpg');
            min-height: 100vh;
            padding-top: 12px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .container{
            width: 50%;
            padding: 1em 2em;
            background: #e5e5e5;
            border-radius: 5px;
        }
        .container * {
            color: #262626;
        }

        .title {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">For enquiry</h1>
        <form action="/loan" method="POST">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" name="name" placeholder="e.g Ajay kumar" autofocus required>
                </div>
            </div>
              
            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input" name="phone" placeholder="e.g. 9871645731" required> 
                </div>
            </div>
    
            <div class="field">
                <label class="label">Pincode</label>
                <div class="control">
                    <input class="input" name="pincode" placeholder="e.g. 110019" required>
                </div>
            </div>
    
            <div class="field">
                <label class="label">Salary</label>
                <div class="control">
                    <input class="input" name="salary" placeholder="e.g. 2000" required>
                </div>
            </div>
    
            <div class="field">
                <label class="label">Loan type</label>
                <div class="control">
                    <div class="select">
                        <select name="loan_type">
                            <option value="home loan">home loan</option>
                            <option value="personal loan">personal loan</option>
                            <option value="business loan">business loan</option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="control">
                <button class="button is-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>