<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASR Financial Services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ==" crossorigin="anonymous" />
    <link rel="icon" href="/img/favicon.ico" />
    <style>
        body{
            background: url('img/bg.jpg');
            min-height: 100vh;
            padding-top: 12px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .container{
            width: 65%;
            padding: 1em 2em;
            background: #e5e5e5;
            border-radius: 5px;
        }
        .container * {
            color: #262626;
        }

        @media (max-width: 997px) {
            .container{
                width: 70%;
            }
        }

        form {
            display: grid;
            grid-template-columns: repeat(auto-fill, 50%);
            padding-top: 11px;
        }

        @media (max-width: 597px) {
            .container{
                width: 90%;
            }
            form {
                grid-template-columns:  repeat(auto-fit, 100%);
            }
        }


        .field{
            margin: 0 0.5em;
        }

        .field .select{
            min-width: 100%;
        }

        .select select{
            width: 100%;
        }

        button{
            margin: 0 0.5em;
            width: 200px;
            margin-top: 12px;
        }

        .header{
            font-size: 2em;
            margin: 0.5em 0.3em;
            font-weight: bolder;
            background: rgba(0,0,0,0.1);
            padding: 0.3em;
            color: #3298dc;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="header" >ASR Financial Services</div>
        <form action="/loan" method="POST">
            <div class="field">
                <label class="label">Fullname</label>
                <div class="control">
                  <input class="input" name="fullname" autocomplete="given-name" placeholder="e.g Ajay kumar" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Loan Amount (&#8377;)</label>
                <div class="control">
                  <input class="input" name="loan_amount" inputmode="numeric" placeholder="xxxxx" required>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Monthly Income (&#8377;)</label>
                <div class="control">
                    <input class="input" name="income" inputmode="numeric" placeholder="xxxxx" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Mobile Number (+91)</label>
                <div class="control">
                    <input class="input" name="phone" inputmode="numeric" placeholder="e.g. 9871645731" required> 
                </div>
            </div>

            <div class="field">
                <label class="label">Email ID</label>
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="e.g. example@mail.com">
                </div>
            </div>

            <div class="field">
                <label class="label">Profession</label>
                <div class="control">
                    <div class="select">
                        <select name="profession">
                            <option value="none">Select</option>
                            <option value="self employeed">Self Employeed</option>
                            <option value="salaried person">Salaried Person</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" name="city" placeholder="e.g. New Delhi" required>
                </div>
            </div>
    
            <div class="field">
                <label class="label">Residence of Current State</label>
                <div class="control">
                    <div class="select">
                        <select name="state">
                            <option value="none">Select Your Current State</option><option value="Andhra Pradesh">Andhra Pradesh</option><option value="Arunachal Pradesh">Arunachal Pradesh</option><option value="Assam">Assam</option><option value="Bihar">Bihar</option><option value="Chhattisgarh">Chhattisgarh</option><option value="Delhi NCR">Delhi NCR</option><option value="Goa">Goa</option><option value="Gujarat">Gujarat</option><option value="Haryana">Haryana</option><option value="Himachal Pradesh">Himachal Pradesh</option><option value="Jammu and Kashmir">Jammu and Kashmir</option><option value="Jharkhand">Jharkhand</option><option value="Karnataka">Karnataka</option><option value="Kerala">Kerala</option><option value="Madhya Pradesh">Madhya Pradesh</option><option value="Maharashtra">Maharashtra</option><option value="Manipur">Manipur</option><option value="Meghalaya">Meghalaya</option><option value="Mizoram">Mizoram</option><option value="Nagaland">Nagaland</option><option value="Odisha">Odisha</option><option value="Punjab">Punjab</option><option value="Rajasthan">Rajasthan</option><option value="Sikkim">Sikkim</option><option value="Tamil Nadu">Tamil Nadu</option><option value="Telangana">Telangana</option><option value="Tripura">Tripura</option><option value="Uttar Pradesh">Uttar Pradesh</option><option value="Uttarakhand">Uttarakhand</option><option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="button is-info">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>